/* COLORS
red:    #B31
back:   #DEA
far:    #9C8
mid:    #597
near:   #255
fore:   #235
*/

body {
  align-items: center;
  background-color: #DEA;
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

header {
  color: #B31;
  font-family: 'Berkshire Swash', cursive;
  font-size: 72px;
  margin: 20px 0px;
}

.canvas-box {
  border: 8px #235 solid;
  border-radius: 8px;
  height: 398px;
  position: relative;
  width: 800px;
}

canvas {
  box-sizing: border-box;
  display: block;
  position: absolute;
}

#timer {
  align-items: center;
  background-color: #235;
  border: 2px solid #DEA;
  border-radius: 8px;
  box-sizing: border-box;
  color: #DEA;
  display: flex;
  font-family: 'Berkshire Swash', cursive;
  font-size: 28px;
  height: 40px;
  justify-content: flex-start;
  margin: 0px;
  margin-left: 660px;
  margin-top: 20px;
  padding: 5px 12px 10px 12px;
  position: absolute;
  width: 120px;
}

/* CONTROL PANEL */

.control-panel {
  align-items: center;
  background-color: #9C8;
  border: 4px #235 solid;
  border-radius: 8px;
  box-sizing: border-box;
  color: #235;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-between;
  margin-top: 30px;
  padding: 20px;
  text-align: center;
  width: 816px;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 60px;
  width: 60px;
  border-radius: 50%;
  color: #235;
  font-size: inherit;
}

button:hover {
  background-color: #597;
  cursor: pointer;
}

.controls {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 140px;
  font-size: 50px;
}

.controls-left {
  font-size: 40px;
}

p {
  font-size: 24px;
  font-weight: bold;
  margin: 5px;
}

/* FOOTER */

footer {
  align-items: center;
  box-sizing: border-box;
  color: #235;
  display: flex;
  flex-direction: column;
  height: 100px;
  padding: 20px 40px;
  width: 816px;
}

h5 {
  font-size: 16px;
  font-weight: bold;
  margin-bottom: 20px;
}

nav {
  align-items: center;
  display: flex;
  flex-direction: row;
  font-size: 50px;
  justify-content: space-between;
  width: 200px;
}

a {
  color: #235;
}

a:hover {
  color: #597;
}

.spacer {
  height: 300px;
}
