/* COLORS
red:    #B31
back:   #DEA
far:    #9C8
mid:    #597
near:   #255
fore:   #235
*/


#game-over {
  align-items: center;
  background-color: #9C8;
  border: 4px #235 solid;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 180px;
  justify-content: space-around;
  margin-top: 110px;
  margin-left: 200px;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 400px;
  z-index: 5;
}

#game-won {
  align-items: center;
  background-color: #9C8;
  border: 4px #235 solid;
  border-radius: 8px;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 200px;
  justify-content: space-around;
  margin-top: 100px;
  margin-left: 200px;
  padding: 20px;
  position: absolute;
  text-align: center;
  width: 400px;
  z-index: 5;
}

h1 {
  color: #B31;
  font-family: 'Berkshire Swash', cursive;
  font-size: 48px;
  margin: 0px;
}

h3 {
  color: #255;
  font-family: 'Quicksand', sans-serif;
  font-size: 28px;
  font-weight: bold;
  margin: 0px;
}

h4 {
  color: #235;
  font-family: 'Quicksand', sans-serif;
  font-size: 18px;
  font-weight: bold;
  margin: 0px;
}

.apple {
  position: absolute;
  height: 60px;
  width: 60px;
  margin-top: 50px;
  margin-left: 150px;
}

.play-again {
  height: 40px;
  width: 150px;
  background-color: #235;
  box-sizing: border-box;
  border-radius: 8px;
  padding: 5px;
  font-weight: bold;
  color: #DEA;
  font-size: 18px;
}

#game-over.hidden {
  display: none;
}

#game-won.hidden {
  display: none;
}
